.tables {
    margin-top:40px;
    font-size: 14px;
}

.butonTabele {
    display: inline-block;
    height: 40px;
    width: 30%;
    border-radius: 10px;
    background-color:indianred;
    color: white;
    border-width: 2px;
    border-top-color:lightpink;
    border-left-color: lightpink;
    border-bottom-color:darkslategrey;
    border-right-color: darkslategrey;
}

.intre {
    display: inline-block;
    height: 40px;
    width: 30%;
    border-radius: 10px;
    background-color:indianred;
    color: white;
    border-width: 2px;
    border-top-color:lightpink;
    border-left-color: lightpink;
    border-bottom-color:darkslategrey;
    border-right-color: darkslategrey;
    margin-right: 5%;
    margin-left: 5%;
}